/dts-v1/;
/ {
  #address-cells = <2>;
  #size-cells = <2>;
  compatible = "eth,alsaqr-dev";
  model = "eth,alsaqr";
  config {
    u-boot,spl-payload-offset = <0x6000000>;
  };
  chosen {
    stdout-path = "/soc/uart@40000000:115200";
  };
  memory@80000000 {
    device_type = "memory";
    reg = <0x0 0x80000000 0x0 0x20000000>;
  };
  reserved-memory {
    #address-cells = <2>;
    #size-cells = <2>;
    ranges;
    pulp_mem: buffer@90000000 {
        reg = <0x0 0x90000000 0x0 0x10000000>;
    };
  };
  cpus {
    #address-cells = <1>;
    #size-cells = <0>;
    timebase-frequency = <25000000>;
    CPU0: cpu@0 {
      device_type = "cpu";
      status = "okay";
      compatible = "eth,ariane", "riscv";
      clock-frequency = <50000000>;
      riscv,isa = "rv64fimadch";
      mmu-type = "riscv,sv39";
      tlb-split;
      reg = <0>;
      CPU0_intc: interrupt-controller {
        #interrupt-cells = <1>;
        interrupt-controller;
        compatible = "riscv,cpu-intc";
      };
    };
  };
  soc: soc {
    #address-cells = <2>;
    #size-cells = <2>;
    compatible = "eth,ariane-bare-soc", "simple-bus";
    ranges;
    clint0: clint@2000000 {
      clock-frequency=<25000000>;
      compatible = "riscv,clint0";
      interrupts-extended = <&CPU0_intc 3 &CPU0_intc 7>;
      reg = <0x0 0x2000000 0x0 0xc0000>;
      reg-names = "clint";
    };
    PLIC0: interrupt-controller@c000000 {
      #address-cells = <0>;
      #interrupt-cells = <1>;
      compatible = "sifive,plic-1.0.0","riscv,plic0";
      interrupt-controller;
      interrupts-extended = <&CPU0_intc 11 &CPU0_intc 9>;
      reg = <0x0 0xc000000 0x0 0x4000000>;
      riscv,max-priority = <7>;
      riscv,ndev = <10>;
    };
    uart@40000000 {
      compatible = "ns16550";
      reg = <0x0 0x40000000 0x0 0x1000>;
      clock-frequency = <50000000>;
      current-speed = <115200>;
      interrupt-parent = <&PLIC0>;
      interrupts = <2>;
      reg-shift = <2>; // regs are spaced on 32 bit boundary
      reg-io-width = <4>; // only 32-bit access are supported
    };
    spiclk: virt_100mhz {
      #clock-cells = <0>;
      compatible = "fixed-clock";
      clock-frequency = <50000000>;
    };
    axi_quad_spi_1: spi@20000000 {
      compatible = "xlnx,axi-quad-spi-3.2", "xlnx,xps-spi-2.00.a";
      interrupt-parent = <&PLIC0>;
      interrupts = <1>;
      clocks = <&spiclk>;
      reg = <0x0 0x20000000 0x0 0x10000>;
      xlnx,num-ss-bits = <1>;
      xlnx,num-transfer-bits = <0x8>;
      fifo-size = <16>;
      #address-cells = <1>;
      #size-cells = <0>;
      nor@0 {
        #address-cells = <0x1>;
        #size-cells = <0x1>;
        compatible = "micron,m25p80";
        reg = <0x0 0x0>;
        spi-max-frequency = <25000000>;
        spi-rx-bus-width = <0x4>;
        spi-tx-bus-width = <0x4>;
        m25p,fast-read;
        partition@6000000 {
          label = "u-boot";
          reg = <0x6000000 0x100000>; // 1 MB
          read-only;
        };
        uimage@6100000 {
          label = "uimage";
          reg = <0x6100000 0x1000000>; // 16 MB
          read-only;
        };
        partition@7100000 {
          label = "filesystem";
          reg = <0x7100000 0x8f00000>; // 143 MB
        };
      };
    };
    timer@18000000 {
      compatible = "pulp,apb_timer";
      interrupts = <0x00000004 0x00000005 0x00000006 0x00000007>;
      reg = <0x00000000 0x18000000 0x00000000 0x00001000>;
      interrupt-parent = <&PLIC0>;
      reg-names = "control";
    };
    soc_ctl0: soc-control@1a106000 {
      compatible = "alsaqr,alsaqr-soc-control";
      reg-names = "soc-control";
      reg = <0x0 0x1a106000 0x0 0x4>;
    };
    quadrant_ctrl0: quadrant-control@10400000 {
      compatible = "eth,pulp-cluster";
      reg-names = "quadrant-control";
      reg = <0x0 0x10400000 0x0 0x4000 >;
    };
    pulp-cluster@10000000 {
     compatible = "eth,alsaqr";
     reg-names = "tcdm", "peripheral";
     reg = <0x0 0x10000000 0x0 0x40000> , <0x0 0x10200000 0x0 0x200000>;
     memory-region = <&pulp_mem>;
     eth,compute-cores = <8>;
     eth,dm-cores = <1>;
     eth,cluster-idx =<0>;
     eth,soc-ctl = <&soc_ctl0>;
     eth,quadrant-ctrl = <&quadrant_ctrl0>;
     eth,quadrant-idx = <0>;
     eth,clint = <&clint0>;
     eth,plic = <&PLIC0>;
     };
  };
};
